<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %p %c{0}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.tomcat" level="error"/>
        <Logger name="org.apache.jasper" level="error"/>
        <Logger name="org.reflections" level="off" />
        <Logger name="org.reflections8" level="off" />
        <Logger name="ghidra.app.plugin.core.analysis" level="off" />
        <Logger name="io.shiftleft.overflowdb" level="warn" />
        <Root level="${env:SL_LOGGING_LEVEL:-WARN}">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
