<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %p %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- java.util.logging redirection (from tomcat/jasper) -->
        <Logger name="org.apache.tomcat" level="error"/>
        <Logger name="org.apache.jasper" level="error"/>

        <Logger name="org.reflections" level="off" />

        <Logger name="io.shiftleft.overflowdb" level="debug" />

        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
