<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5p] %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.tinkerpop.gremlin.tinkergraph" level="trace"/>
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
