common --tool_java_language_version=21
common --tool_java_runtime_version=remotejdk_21
common --java_runtime_version=remotejdk_21

# For now we do not block network access at all since on MacOS this also blocks
# network traffic on loopback interface which we need for some tests.
#common --sandbox_default_allow_network=false

try-import user.bazelrc
