common --tool_java_language_version=21
common --tool_java_runtime_version=remotejdk_21
common --java_runtime_version=remotejdk_21
common --registry=file:///Users/ml/work/bazelRegistry
common --registry=https://bcr.bazel.build/
try-import user.bazelrc
