###################
# Joern-specifics #
###################

project/project
project/target
target
tests/smoke-test-repos
tests/**/node_modules
tests/**/package-lock.json
tests/**/package.json
joern-cli.zip
joern-server.zip
cpg.bin.zip
cpg.bin
ast-for-funcs.json
cfg-for-funcs.json
pdg-for-funcs.json
joern-cli/workspace
/workspace
null
/gnupg-*
/joern-cli/${sys:LOG_DIR}/
.local
**/astgen-win.exe
**/astgen-macos
**/astgen-macos-arm
**/astgen-linux
**/SwiftAstGen-win.exe
**/SwiftAstGen-mac
**/SwiftAstGen-linux
**/php2cpg/bin
/foo.c
/woo.c
/cpg_*.bin.zip
**/goastgen-windows.exe
**/goastgen-linux
**/goastgen-linux-arm64
**/goastgen-macos
**/goastgen-macos-arm64
**/dotnetastgen-linux
**/dotnetastgen-linux-arm
**/dotnetastgen-win.exe
**/dotnetastgen-win-arm.exe
**/dotnetastgen-macos
**/dotnetastgen-macos-arm
**/*_builtin_types.zip
**/*_builtin_types.zip.sha512
slices.json
**/.antlr
/joern-cli/frontends/*/bin
/joern-cli/frontends/*/type_stubs
**/.gradle
**/build/gatheredDependencies

##############
# Nix flakes #
##############
.envrc
flake.nix
flake.lock
.direnv

##############
# Metals LSP #
##############
**/.metals
**/metals.sbt
*.semanticdb
.vscode/settings.json

##############
# IDE/OS     #
##############

.vscode
.idea/
.bloop
**/.DS_Store
**/.bsp


