
h1 {
    font-family:Helvetica;
    font-size:1.5em;
    text-transform: none;
    font-weight: bold;
}

h2 {
   font-family:Helvetica;
   font-size:1.3em;
   text-transform: none; 
   font-weight: bold;
}

h3 {
    font-family:Helvetica;
    font-size:1.2em;
    text-transform: none; 
    font-weight: bold;
}
